{
	"useTabs": true,
	"bracketSpacing": false,
	"semi": false,
	"experimentalOperatorPosition": "start",
	"printWidth": 120,
	"plugins": ["@trivago/prettier-plugin-sort-imports", "prettier-plugin-tailwindcss"]
}
